<div class="container mb-5">
    <h1>Kosár</h1>
    <div class="row">
        <div class="shadow rounded p-3 m-2 col-12 col-lg-8">
            <div class="mx-5">
                <div *ngFor="let product of cart.products" class="border-bottom">
                    <div class="row p-2 pb-0 mt-2">
                        <div class="col-4 col-lg-2">
                            <img src="{{product.imgUrl}}" alt="" class="img img-fluid rounded">
                        </div>
                        <div class="col-8 col-lg-6">
                            <h5 [routerLink]="['/product-details', product.productId]" class="fw-bold">{{product.name}}</h5>
                            <a [routerLink]="['/profile', product.sellerId]" class="text-decoration-none">{{product.sellerLastName}} {{product.sellerFirstName}}</a>
                        </div>
                        <div class="col-6 col-lg-2 mt-3">
                            <p>{{product.amount}} db</p>
                        </div>
                        <div class="col-6 col-lg-2 mt-3">
                            <h4 class="fw-bold">{{product.price|price}}</h4>
                        </div>
                    </div>
                    <div class="row mb-3 mt-0 pt-0">
                        <div class="d-flex justify-content-end">
                            <div class="me-3">
                                <a href="" (click)="addToWishList($event, product.productId)" class="text-decoration-none me-3">
                                    <fa-icon [icon]="faHeart"></fa-icon>
                                    Kívánság lista
                                </a>
                                <a href="" (click)="deleteFromCart($event, product.cartProductId)" class="text-decoration-none">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                    Töröl
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cart.products[0] == undefined" class="text-center mt-4 pt-4">
                    <h1><fa-icon [icon]="faShoppingCart"></fa-icon></h1>
                    <h2>A kosarad üres</h2>
                    <p>csak arra vár, hogy vásárolni kezdj</p>
                </div>
            </div>
        </div>
        <div class="shadow rounded p-4 m-2 col-12 col-lg-3">
            <h5 class="fw-bold">Rendelés összegzése</h5>
            <div class="justify-content-between d-flex">
                <p>Összeg</p>
                <p>{{cart.sumPrice|price}}</p>
            </div>
            <div class="justify-content-between d-flex">
                <p>Szállítás</p>
                <p>-</p>
            </div>
            <hr class="mt-0">
            <div class="mb-4">
                <h4 class="fw-bold">Végösszeg:</h4>
                <h4 class="fw-bold">{{cart.sumPrice|price}}</h4>
            </div>
            <div class="input-group d-flex justify-content-center">
                <a [routerLink]="['/order']" class="btn btn-lg btn-primary">Folytatás
                </a>
                <a [routerLink]="['/order']" class="btn btn-secondary btn-lg">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- <page-footer></page-footer> -->