<div class="row">
    <div class="col-12 col-md-4 col-lg-2">
        <div class="shadow rounded m-2 p-2 mt-1 pt-0">
            <h2 class="fw-bold p-3 pb-0 mb-0">Üzenetek</h2>
            <hr>
            <div class="my-3">
                <img src="assets/profilepic.jpg" class="profile-picture float-start mx-2" alt="">
                <h5 class="fw-bold mb-0 mt-3">Széles József</h5>
                <p>Szia</p>
            </div>
            <hr class="mt-4">
        </div>
    </div>
    <div class="col-12 col-md-7">
        <app-messages>
        </app-messages>
    </div>
</div>
