<footer class="container-fluid py-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
              <small class="d-block mb-3 text-muted">Agora &copy;2021</small>
            </div>
            <div class="col-6 col-md">
              <h5 class="fw-bold">Linkek</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/']">Kezdőlap</a></li>
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/search']">Kategóriák</a></li>
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/best']">A szezon legjobbjai</a></li>
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/about']">Rólunk</a></li>
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/new']">Újdonságok</a></li>
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/guide']">Segítség</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5 class="fw-bold">Fiók</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/login']">Bejelentkezés</a></li>
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/signup']">Regisztráció</a></li>
                <li><a class="link-secondary text-decoration-none" [routerLink]="['/signup-vendor']">Eladó regisztráció</a></li>
              </ul>
            </div>
          </div>
    </div>
  </footer>
