<footer class="container-fluid py-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
              <small class="d-block mb-3 text-muted">Agora &copy;2021</small>
            </div>
            <div class="col-6 col-md">
              <h5 class="fw-bold">Linkek</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="/">Kezdőlap</a></li>
                <li><a class="link-secondary text-decoration-none" href="/search">Kategóriák</a></li>
                <li><a class="link-secondary text-decoration-none" href="/best">A szezon legjobbjai</a></li>
                <li><a class="link-secondary text-decoration-none" href="/about">Rólunk</a></li>
                <li><a class="link-secondary text-decoration-none" href="/new">Újdonságok</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Hírlevél</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5 class="fw-bold">Fiók</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="/login">Bejelentkezés</a></li>
                <li><a class="link-secondary text-decoration-none" href="/signup">Regisztráció</a></li>
                <li><a class="link-secondary text-decoration-none" href="/signup-vendor">Eladó regisztráció</a></li>
              </ul>
            </div>
          </div>
    </div>
  </footer>
