$card-product-width: 16rem;
$card-product-height: 28rem;

.card-product{
    width: $card-product-width;
    height: $card-product-height;
}
.img-placeholder{
    height: $card-product-width;
}
.card-body-product{
    height: $card-product-height / 3;
}
.img-product{
    max-height: $card-product-width;
}
.fit-text{
    font-size: 1rem;
}
.side-scroll{
    // height: 29rem;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: content-box;
}
.side-scroll-item{
    display: inline-block;
    vertical-align: top;
    white-space: pre-wrap;
}
::-webkit-scrollbar {
  height: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}