<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="search" class="text-decoration-none">Kategóriák</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Ékszerek</a></li>
            <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Nyakláncok</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
        </ol>
    </nav>
    <div class="rounded shadow p-4 m-2 placeholder-glow">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <a (click)="fullScreenImg($event)" href="#">
                    <img *ngIf="selectedImg == null" src="{{product.imgUrl[0]}}" class="img-fluid rounded shadow-sm">
                    <img *ngIf="selectedImg != null" src="{{selectedImg}}" class="img-fluid rounded shadow-sm">
                </a>
                <div class="mt-3">
                    <a *ngFor="let img of product.imgUrl; let i = index;" (click)="selectImg(i, $event)" href="#">
                        <img src="{{img}}" class="w-25 rounded mx-2" [ngClass]="{'shadow': selectedImgIndex == i}">
                    </a>
                </div>
                <div class="d-none d-md-block d-lg-none m-2 p-1">
                    <hr>
                    <h3 class="mt-3">Leírás</h3>
                    <p class="text-justify">
                        {{product.description}}
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <h1 class="my-3" [ngClass]="{'placeholder col-8':product.name == ''}">{{product.name}}</h1>
                <div class="row">
                    <div class="col-12 col-lg-6 m-2">
                        <h1 class="fw-bold" [ngClass]="{'placeholder col-8':product.price == -1}">{{product.price|price}}</h1>
                        <p class="m-2" [ngClass]="{'placeholder col-5':product.inventory == -1}">Elérhető: {{product.inventory}}db</p>
                    </div>
                    <div class="col-12 col-lg-6 my-2">
                        <a (click)="addToCart($event)" href="#" class="btn btn-primary m-2 py-3 w-50 shadow-sm">
                            <fa-icon [icon]="faShoppingCart"></fa-icon>
                            Kosárba
                        </a>
                        <a href="#" class="btn btn-secondary m-2 py-3 shadow-sm">
                            <fa-icon [icon]="faHeart"></fa-icon>
                            Kívánság lista
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="shadow rounded px-4 pt-3 pb-2 m-2">
                            <div class="row mx-auto">
                                <div class="col-2 text-center">
                                    <fa-icon [icon]="[iconPrefix, (product.category|icon:'category')]"></fa-icon>
                                </div>
                                <div class="ps-0 col-10" [ngClass]="{'placeholder col-4':product.category == ''}">
                                    <p>Kategória: {{product.category}}</p>
                                </div>
                                <div class="col-2 text-center">
                                    <fa-icon [icon]="faBoxes"></fa-icon>
                                </div>
                                <div class="ps-0 col-10">
                                    <p *ngIf="product.materials != []">Anyaga: 
                                        <span *ngFor="let material of product.materials; let i = index">
                                            {{material}}<span *ngIf="i != product.materials.length - 1">, </span>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-2 text-center">
                                    <fa-icon [icon]="faTruck"></fa-icon>
                                </div>
                                <div class="ps-0 col-10" [ngClass]="{'placeholder col-4':product.delivery == ''}">
                                    <p>{{product.delivery}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-none d-lg-block m-2 p-0 my-3">
                            <hr>
                            <h3 class="mt-3">Leírás</h3>
                            <p class="">
                                {{product.description}}
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="shadow rounded px-4 pt-3 pb-2 m-2">
                            <div *ngFor="let tag of product.tags" class="row mx-auto">
                                <div class="col-2 text-center">
                                    <fa-icon [icon]="[iconPrefix, (tag|icon:'tag')]"></fa-icon>
                                </div>
                                <div class="ps-0 col-10">
                                    <p>{{tag}}</p>
                                </div>
                            </div>
                            <!-- <div class="row mx-auto">
                                <fa-icon [icon]="[iconPrefix,iconName]"></fa-icon>
                                <div class="col-2 text-center">
                                    <fa-icon [icon]="faHandPaper"></fa-icon>
                                </div>
                                <div class="ps-0 col-10">
                                    <p>Kézzel készült</p>
                                </div>
                                <div class="col-2 text-center">
                                    <fa-icon [icon]="faBalanceScale"></fa-icon>
                                </div>
                                <div class="ps-0 col-10">
                                    <p>Etikusan beszerzett alapanyagok</p>
                                </div>
                                <div class="col-2 text-center">
                                    <fa-icon [icon]="faTree"></fa-icon>
                                </div>
                                <div class="ps-0 col-10">
                                    <p>Környezetbarát</p>
                                </div>
                            </div> -->
                        </div>
                        <div class="shadow rounded px-4 pt-3 pb-2 m-2 my-3">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/profilepic.jpg" class="round img-fluid">
                                </div>
                                <div class="col-8">
                                    <h5><a [routerLink]="['/profile']" class="text-decoration-none fw-bold">{{product.sellerFirstName}} {{product.sellerLastName}}</a>
                                    </h5>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary my-2 px-3">Követés</a>
                                        <a href="#" class="btn btn-secondary my-2 pe-3">
                                            <fa-icon [icon]="faEnvelope"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p class="mt-3">
                                    {{seller.about}}
                                </p>
                            </div>
                            <div *ngIf="seller.takesCustomOrders" class="row">
                                <hr>
                                <p>Egyedi rendeléseket is vállal.</p>
                                <a href="#" class="btn btn-primary my-2 px-3">Rendelés</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>Értékelések</h3>
            <h1 class="fw-bold big ms-3" [ngClass]="{'placeholder col-1':product.rating == -1}">{{product.rating}}<small class="fw-normal small">/ 5</small></h1>
            <div class="scrollmenu row">
                <a href="#" *ngFor="let review of reviews"
                    class="shadow rounded review m-2 col-12 col-md-6 text-decoration-none text-dark placeholder-glow"
                    (click)="openModal([review.reviewId], $event)">
                    <div class="row">
                        <div class="col">
                            <h5 class="m-2 fw-bold" [ngClass]="{'placeholder col-8':review.title == ''}">
                                {{review.title}}</h5>
                        </div>
                        <div class="text-end col-auto m-2 ps-0 ms-0">
                            <small class="text-secondary">{{review.publishedAt|date}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="ms-2">
                                <fa-icon *ngFor="let number of ratingToArray(review.rating)" [icon]="faStar"></fa-icon>
                                <small class="ms-1"
                                    [ngClass]="{'placeholder col-3':review.rating == 0}">{{review.rating}}/5</small>
                            </div>
                        </div>
                        <div class="col text-end me-2 ps-0 ms-0">
                            <small class="text-secondary"
                                [ngClass]="{'placeholder col-8':review.userLastName == ''}">{{review.userLastName}} {{review.userFirstName}}</small>
                        </div>
                    </div>
                    <p class="m-2" [ngClass]="{'placeholder col-11':review.review == ''}">{{review.review|trim: 75}}</p>
                    <p *ngIf="review.review == ''" class="mx-2 mb-2">
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                    </p>
                </a>
            </div>
        </div>
        <div class="mt-3">
            <a href="#" (click)="writeReview($event)" class="text-decoration-none pt-3 ms-3">
                <fa-icon [icon]="faEdit"></fa-icon>
                Vélemény írása
            </a>
        </div>
        <!-- <div class="row mt-3">
            <h5>Értékeld a terméket</h5>
            <div>
                <fa-icon *ngFor="let number of [1,2,3,4,5]" [icon]="faStar"></fa-icon>
            </div>
        </div> -->
    </div>
    <h3 class="m-3 pt-2">További ajánlatok</h3>
    <app-product-list class="row" [products]="productList" [sideScrollable]="true"></app-product-list>
</div>
<page-footer></page-footer>
<!-- Review detailed -->
<modal-window [(modalVisible)]="modalVisible">
    <app-review [(content)]="reviewContent"></app-review>
</modal-window>
<!-- Képnézegető -->
<modal-window [(modalVisible)]="imgOpen">
    <img *ngIf="selectedImg == null" src="{{product.imgUrl[0]}}" class="mx-auto d-block rounded img-fullscreen">
    <img *ngIf="selectedImg != null" src="{{selectedImg}}" class="mx-auto d-block rounded img-fullscreen">
    <a href="#" (click)="nextImg(-1,$event)" class="arrow-left ms-4 text-center frosted-glass text-dark">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
    </a>
    <a href="#" (click)="nextImg(1,$event)" class="arrow-right me-4 text-center frosted-glass text-dark">
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </a>
</modal-window>
<!-- Vélemény írása -->
<modal-window [(modalVisible)]="newReviewOpen">
    <review-form (modalState)="closeNewReview()"></review-form>
</modal-window>
<!-- Kosárba -->
<modal-window [(modalVisible)]="cartOpen">
    <add-to-cart (modalState)="cartOpen = false" [product]="product" [recommendedProducts]="productList"></add-to-cart>
</modal-window>