<div class="placeholder-glow">
    <div class="col">
        <h5 class="m-2 mb-0 fw-bold" [ngClass]="{'placeholder col-8':review.title == ''}">{{review.title}}</h5>
    </div>
    <small class="text-secondary ps-2" [ngClass]="{'placeholder col-4':review.userLastName == ''}">{{review.userLastName}} {{review.userFirstName}} |</small>
    <small class="text-secondary ms-2">{{review.publishedAt|date}}</small>
    <div class="col">
        <div class="ms-2">
            <fa-icon *ngFor="let number of ratingToArray(review.rating)" [icon]="faStar"></fa-icon>
            <small class="ms-1" [ngClass]="{'placeholder col-6':review.rating == -1}">{{review.rating}}/5</small>
        </div>
    </div>
    <p class="m-2" [ngClass]="{'placeholder col-11':review.content == ''}">{{review.content}}</p>
    <div class="m-2">
        <div class="nav">
            <a [@addUpvote]="review.points" [class.upvoted]="vote.vote == 'up'" (click)="upvote()" class="btn me-2" type="button">
                <fa-icon [icon]="faArrowUp"></fa-icon>
            </a>
            <h5 class="pt-2 pe-2" [ngClass]="{'placeholder col-2':review.points == null}">{{review.points}}</h5>
            <a [@addDownvote]="review.points" [class.downvoted]="vote.vote == 'down'" (click)="downvote()" class="btn" type="button">
                <fa-icon [icon]="faArrowDown"></fa-icon>
            </a>
        </div>
    </div>
</div>
