<div class="page">
  <div class="container shadow rounded p-5">
      <h2 class="text-center">Felhasználói kézikönyv</h2>
      <h3>Regisztráció</h3>
      <p>Az oldal használatához először egy fiókot kell létrehozni, ez vezetéknév, keresztév, e-mail cím és jelszó megadásával történik. A sikeres regisztráció után az imént bevitt adatokkal lehet bejelentkezni.</p>
      <p>Belépés után a nyitó oldal jelenik meg a képernyőn. A navigációs sáv bal oldalán található meg a website logója, ami mindig visszairányít a nyitó oldalra. Középen három menüpontból választhat, a kategóriák egyikére kattintva megkezdheti a termékek szűrését. Jobb oldalt három további ikont fedezhet fel ezek sorrendben egy csengő, ami az értesítéseket rejti, a kosár és a saját profil.</p>
      <h3>Szűrés</h3>
      <p>A weboldal három féle szűrési lehetőséget kínál fel, a saját lenyíló panelikben elhelyezve: kategóriák, ár és címkék szerint. </p>
      <p>Egy kategória nevére kattintva kijelölheti azt, így csak az oda tartozó elemek fognak megjelenni a találatok között. Ha több opciót is kiválaszt, akkor köztük „vagy” kapcsolat lép fel, a találatok bármely megjelölt kategóriába eshetnek.</p>
      <p>Ár alapján történő szűréskor maximum és minimum összeget adhat meg. Ha csak az egyik mezőt tölti ki, akkor a másik nulla értéket, illetve a legdrágább termék árát veszi fel.</p>
      <p>A címke alapján történő kereséskor előre megadott tulajdonságok közül válaszhat, csak azok az elemek fognak megjelenni, melyekre az összes kiválasztott tulajdonság igaz. Egy vízszintes vonallal elválasztva három további tulajdonságot is bejelölhet, így szűkítve a találatokat a raktáron levő, megrendelésre készülő és kedvezményes termékekre. Megjegyzendő, hogy nem létezik egyszere raktáron lévő és megrendelésre készülő árucikk. </p>
      <p>A „Szűrés” gombra kattintva elindíthatja a lekérdezést. A „Szűrők törlése” gombbal pedig egyszerűen alapértelmezett helyzetbe hozhatja a szűrés panelt.</p>
      <h3>Termékek kiválasztása</h3>
      <p>Amennyiben egy termék elnyerte tetszését, azt rögtön a kosárba helyezheti a bevásárlókosár ikonra kattintva. Az eladó nevére klikkelve a felhasználó saját oldalát, így további termékeit tekintheti meg. </p>
      <p>A termék kártya bármely más részére vagy a „Részletek” gombra kattintva további információkat szerezhet az árucikkel kapcsolatban. Ha így dönt, a bal felső sarokban a „kenyérmorzsa” navigáción keresztül eléri az összes, illetve a választottal azonos kategóriába tartozó termékeket. Lejjebb elolvashatja a termék részletes adatait. A képekre kattintva megnyílik a képnézegető ablak, melyben nagyobb méretben láthatók a fotók. </p>
      <p>Az elvárásainak leginkább megfelelő termék kiválasztásában segíthetnek a címkék, vélemények és az értékelések átlaga is. Az érékelések a rájuk érkező szavazat pontok alapján vannak sorba rendezve, így a leghasznosabb az első. A vélemény részletes megtekintésekor minden felhasználó a fel és lefelé mutató nyilakkal kifejezheti tetszését, így a későbbiekben érkező vásárlók tájékozódását segítve</p>
      <p>Egy terméket nem csak a kosárba helyezhet, hanem a kívánságlistájára is, hogy a későbbiekben egyszerűen megtalálhassa. Ez a lista publikusan elérhető minden felhasználó profilján így, ha ajándékot szeretne vásárolni valakinek ez egy jó módja lehet a tökéletes darab megtalálásának.</p>
      <h3>Vásárlás</h3>
      <p>A kosarat a termék hozzáadásakor felugró ablakból vagy a navigációs sáv jobb oldalán található ikonon keresztül érheti el. Itt törölhet vagy a kívánságlistájához adhat egy terméket, valamint megtudhatja a vásárlásának végösszegét.</p>
      <p>Ezután a szállítási adatok megadása következik. Fontos, hogy az elérhetőségek részben olyan e-mail címet vagy telefonszámot adjon meg, melyen keresztül valóban fel tudja venni az eladó a kapcsolatot önnel, amennyiben az szükséges. A kitöltést segíti, hogy az irányítószám megadásakor a megye és település mező automatikusan beállítja magát.</p>
      <p>Az ezt követő oldalon ellenőrizze le a vásárolt termékeket és a megadott szállítási címet, majd véglegesítse a rendelést.</p>
      <h3>Rendeléskövetés</h3>
      <p>A navigációs sáv jobb oldalán, a profilképre kattintással megjelenő menüből érhető el a rendeléskövetés. A következő négy fázist különbözteti meg a program: </p>
      <ul>
        <li>Rendelés leadva</li>
        <li>Összekészítés alatt</li>
        <li>Szállítás folyamatban</li>
        <li>Megérkezett </li>
      </ul>
      <p>A zöld színű követési sáv csak abban az esetben mutatja megfelelően a rendelés hollétét, ha minden nem megérkezettnek jelölt termék azonos fázisban van. (Ha különböző eladóktól egyszerre rendel gyakran előfordulhat, hogy nem így van.) Adott csomagra lebontva a „Termékek” címszóval ellátott lenyíló panelban követheti rendelését. </p>
      <p>Fontos, hogy amennyiben egy termék megérkezett azt mindig jelezze vissza az eladónak! A sikeres vásárlást követően ne feledjen véleményt írni!</p>
      <h3>Értékelés</h3>
      <p>A rendelés érkezése és kipróbálása után ajánlott értékelést írni. A vélemények visszajelzést nyújtanak az eladók számára és segítik az oldalt böngészőket az informált vásárlásban. Az értékelés során 1-5 csillagot adhat az eladónak, emellett kifejtheti véleményét szöveges formában is.</p>
      <h3>Szállítási címek</h3>
      <p>A szállítási címe, melyre rendelést intéz automatikusan mentésre kerül. A későbbiekben a szállítási adatok megadásakor egy lenyíló listából kiválaszthat egyet a mentett címek közül, így gyorsan kitöltve az összes mezőt. Az eltárolt címek kezelése a profilképpel lenyitható menüből érhető el. Itt törölheti, szerkesztheti a meglévő címeket és újat is hozzáadhat.</p>
      <h3>Kívánságlista</h3>
      <p>A felhasználói fiókokhoz kívánságlista van rendelve, melyre felhelyezhet termékeket. A legelső helyen a legutóbb hozzáadott árucikk fog megjelenni. Egy termék kétszer nem szerepelhet, ha már a listán lévő elemet ad hozzá, az csak pozícióját változottja meg, a felsorolás élére mozdul. Tartsa észben, hogy a kívánság listák az összes felhasználó számára láthatóak. Lehetséges elemet eltávolítani a listáról, ezt a saját profil oldalról teheti meg.</p>
      <h3>Követés és értesítések</h3>
      <p>Egy felhasználót a saját oldalán keresztül kezdhet el követni, itt láthatja azt is már hány fiók teszi ugyanezt. Mikor egy ön által követtett felhasználó új terméket tesz közzé vagy publikussá arról egy értesítést kap, így naprakész maradhat. </p>
      <p>Az értesítések oldal a navigációs sáv csengő ikonján keresztül nyitható meg.  A még meg nem tekintett értesítések halvány zöld háttérrel jelennek meg. A nyíl segítségével rögtön az értesítés forrásához ugorhat, ez típusától függően lehet egy újonnan hozzáadott termék vagy a rendeléskövetés oldal, ha egy rendelés állapota került frissítésre.</p>
      <h3>A weboldal használata eladóként</h3>
      <p>Az eladóknak van lehetősége vásárlóként is használni az oldalt, az evvel kapcsolatos információk a fentiekben lettek taglalva. Azonban árusként sok újdonság áll rendelkezésére, ezek részletes magyarázata következik.</p>
      <h3>Regisztráció</h3>
      <p>Eladóként a „Regisztráció eladóknak” oldalon hozhat létre fiókot. Kötelezően csak ugyanazokat a mezőket kell kitölteni, mint a vásárlóknak (email, név, jelszó), de lehőség nyílik további adatok megadására is. Ha egy céget képvisel bevihető annak neve, telephelye, weboldala.</p>
      <h3>Profil szerkesztése</h3>
      <p>A saját profil oldalon a regisztrációkor megadott adatokat lehet frissíteni. Ezen felül a „Rólam” szekcióban rövid bemutatkozást írhat, amiben például megoszthatja hogyan és mért vágott bele vállalkozásába és milyen értékeket képvisel. Az „Egyedi megrendeléseket vállalok” jelölőnégyzet kipipálásával jelezheti, hogy üzenetben megkereshetik a felhasználók, a listázott termékeikhez hasonló, de személyre szabott, egyedi kérésekkel.</p>
      <h3>Új termék felvétele</h3>
      <p>Az új terméket hozzáadó űrlap kitöltési segédlete mezőkre lebontva:</p>
      <p>A termék megnevezését kötelező megadni. A vásárlók kereshetnek erre a mezőre, ennek fényében érdemes könnyen azonosítható, egyértelmű, kulcsszavakat tartalmazó címet beállítani.</p>
      <p>A termék árát kötelező egy egész, nullánál nagyobb számban meghatározni. Az érték magyar forintban értendő, abban az esetben, ha kedvezményt ad hozzá az eredeti árat jelöli.</p>
      <p>A kedvezmény bevitelére szolgáló mező a „Kedvezmény elérhető” címkével ellátott jelölő négyzet kipipálásával válik aktívvá A kedvezmény százalékban értendő, egy és kilencvenkilenc közötti egész szám, nem kötelező megadni. Egy termék első publikálásakor érdemes üresen hagyni és csak valódi árcsökkenés esetén szerkeszteni a mezőt.</p>
      <p>Az áru elérhetőségét rádiógombok segítségével viheti be. Azt jelöli, hogy a termék előre elkészített vagy csak megrendelésre elérhető. A 'Raktáron' beviteli mező az 'előre elkészített termék' opció kiválasztása esetén lesz aktív. </p>
      <p>A raktáron mező egy nullánál nagyobb, egész számmal kitöltendő. A vásárlót a készleten lévő termékek darabszámáról tájékoztatja.</p>
      <p>A kategória kiválasztása egy listából, a következő lehetőségek közül történik:</p>
      <ul>
        <li>Zöldség: friss zöldségek vagy konzervek, befőttek</li>
        <li>Gyümölcs: friss gyümölcsök vagy konzervek, befőttek</li>
        <li>Pékáru: kenyérfélék, sütemények, édességek</li>
        <li>Tejtermék: tej, sajtok, joghurtok</li>
        <li>Ital: szörpök, limonádék, alkoholos italok</li>
        <li>Ékszer: nyakláncok, karkötők, kiegészítők</li>
        <li>Művészet: festmények, szobrok, dekorációk</li>
        <li>Divat: ruhák</li>
        <li>Kamra: lekvárok, méz, alapanyagok sütéshez, főzéshez</li>
        <li>Húsáru: hentesáru, füstölt húsok, hal</li>
      </ul>
      <p>A címkék a termékek keresésében és szűrésében segítenek, ezért ajánlott megadni őket. Kattintson a 'Címke hozzáadása' gombra, majd kezdjen el gépelni és válasszon a megjelenő opciók közül. Több címke is beállítható, a beviteli mezők mögötti kuka ikonnal pedig törölhető.</p>
      <p>Az alapanyagok részben a hozzávalók listája, a címkékhez hasonlóan adhatjuk meg. Kérjük az allergén vagy káros anyagokat mindenképp tüntesse fel!</p>
      <p>Lehetőség nyílik képek tallózására is. Maximum 3 darab, 1MB-nál nem nagyobb, 1:1 képarányú PNG vagy JPEG kiterjesztésű fájlt lehet feltölteni. A képek jobb felső sarkában megjelenő rádió gombokkal választhatja ki, melyik fotó legyen az indexkép, jelenjen meg a termék kártyáján. Ha üresen marad a mező, akkor egy alapértelmezett fénykép kerül beállításra.</p>
      <p>A termékkel kapcsolatos, máshol nem jelzett információkat a leírásban adhatja meg. Célszerű érthetően, lényegre törően fogalmazni, gyakran felmerülő kérdésekről tájékoztatni a potenciális vásárlókat.</p>
      <p>Az űrlaptól jobbra megtekinthető az előnézet kártya, mely azt mutatja, hogy fog kinézni a termék, ha közzé tesszük azt. Ahogy töltjük ki a mezőket, úgy változik tartalma és új kártyák jelennek meg.</p>
      <p>A „Mentés” gomb privát láthatósággal tölti fel a terméket, ez azt jelenti, hogy csak az eladó, aki felvitte tekintheti meg. A privát termékek szerkesztését később folytathatja és dönthet, úgy közzéteszi azt.</p>
      <p>A „Közzététel” gomb csak a helyes kitöltés esetén válik elérhetővé, publikus láthatósággal menti a terméket, így azonnal elérhetővé teszi azt a vásárlók számára, valamint az értesítések kiküldése is megtörténik a követői számára.</p>
      <h3>Termékek kezelése</h3>
      <p>A saját profil oldalon listázva szerepelnek felvitt terméki. Az első kártya segítségével adhat hozzá új árucikket. A már meglévő termékeket innen szerkesztheti, törölhet vagy a három pont ikonnal jelölt további lehetőségek menüben megtekintheti vásárlóként, gyorsan megváltoztathatja láthatóságát. Fontos megemlíteni, hogy a privát láthatóságú termékek sárga figyelmeztető szöveggel vannak ellátva. Ezek a termékek nem elérhetőek a vásárlók számára. A saját termékei közötti navigálást segíti, hogy megnevezésük alapján kereshet rájuk, rendezheti őket és szűrhet csak a publikus vagy éppen privát árukra.</p>
      <h3>Bejövő rendelések</h3>
      <p>A bejövő rendelések oldalra a profilképen keresztül megnyíló menün át navigálhat. Itt jelennek meg az elküldött, ön felé irányuló rendelések időrendi sorrendben, ahol a legfrissebb az első. Egy pillantással megtekintheti a megrendelő szállítási címét és elérhetőségeit.</p>
      <p>A rendelés kártyák jobb felső sorkában lévő ikonnal kezdheti meg a szerkesztést. A „Feldolgozási állapot” lenyíló listában a teljes rendelésre vonatkozóan frissítheti a státuszát. A „Termékek” címkével ellátott lenyíló panelben egyesével is megteheti ugyanazt.</p>
      <p>A következő állapotok közül válaszhat:</p>
      <ul>
        <li>Rendelés fogadva: a rendelés küldése után automatikusan ez az értéke</li>
        <li>Összekészítés alatt: ha összecsomagolta a terméket állítsa be</li>
        <li>Szállítás folyamatban: ha feladta a rendelést állítsa be</li>
        <li>Nem elérhető: akkor jelölje, ha mégsem tudja teljesíteni a rendelést</li>
      </ul>
      <p>Ha minden a rendelésben szereplő termék állapotát „Nem elérhetővé” teszi a rendelés egésze törlődik, nem történik tranzakció.</p>
      <p>Az állapot szerkesztése után ne felejtse elmenteni azt a floppy ikonnal, ha a töltés befejeződött és a kártya kilépett a szerkesztés állapotból a módosítások mentve lettek. Ha mentés nélkül szeretne kilépni a szerkesztés módból csak kattintson ismét a jobb felső sarokba.</p>
    </div>
</div>
<page-footer></page-footer>
