input.ng-invalid{
    border-bottom: red thin solid;
}
input.ng-untouched{
    border-color: lightgray;
}
input.ng-valid{
    border-bottom: #859C62 thin solid;

}
.form-control:focus {   
    color: #212529;
    background-color: #fff;
    border-color: #859C62;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #859c625b;
}
.small{
    font-size: .9rem;
}