<div class="mx-2 mt-2">
    <form action="">
        <div class="row mb-3">
            <div class="col">
                <div class="header" style="background-image: url('{{user.headerImgUrl}}');"></div>
                <img class="p-2 round profile-picture shadow" src="{{user.profileImgUrl}}" alt="">
                <a href="" class="btn bg-white my-2 profile-btn shadow">
                    <fa-icon [icon]="faCamera"></fa-icon>
                </a>
            </div>
            <!-- <div class="col">
                <img src="" alt="" src="{{user.headerImgUrl}}" class="header">
            </div> -->
        </div>
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <label for="lastName">Veztetéknév</label>
                <input type="text" value="{{user.lastName}}" class="form-control"
                    id="lastName" name="lastName">
            </div>
            <div class="mb-3 col-12 col-md-6">
                <label for="firstName">Keresztnév</label>
                <input type="text" value="{{user.firstName}}" class="form-control"
                    id="firstName" name="firstName">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <label for="email">Weboldal </label>
                <input type="email" value="{{user.website}}" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3 col-12 col-md-6">
                <label for="location">Lakhely </label>
                <input type="text" value="{{user.siteLocation}}" class="form-control" id="location"
                    name="location">
            </div>
        </div>
        <div class="mb-3">
            <label for="about">Rólam </label>
            <textarea type="text" class="form-control" id="about" name="about">{{user.about}}</textarea>
        </div>
        <div class="mb-3">
            <input type="checkbox" id="order" name="order" class="form-check-input" checked>
            <label for="order" class="form-check-label ms-2">Egyedi rendeléseket vállalok</label>
        </div>
        <div class="d-flex justify-content-between">
            <a href="/" (click)=back($event) class="btn btn-secondary my-2 px-2">Mégse</a>
            <a href="/" class="btn btn-primary my-2 px-2">Mentés</a>
        </div>
    </form>
</div>