.round{
    border-radius: 50%;
}
.about{
    margin-top: -3rem;
    max-width: 50rem;
}
.profile-picture{
    width: 10rem;
    z-index: 3;
}
.header{
    position: absolute;
    height: 10rem;
    background-position: center;
    z-index: -2;
}
.bg-white{
    background-color: #fbf7f5;
}
.no-wrap{
    white-space: nowrap;
}
.profile-btn{
    position: absolute;
    border-radius: 50%;
    width: auto;
    text-align: center;
    vertical-align: middle;
    height: 2.5rem;
    z-index: 5;
}   