.round{
    border-radius: 50%;
}
.about{
    margin-top: -3rem;
    max-width: 50rem;
}
.profile-picture{
    width: 10rem;
    z-index: 3;
}
.header{
    position: absolute;
    height: 10rem;
    width: 100%;
    background-position: center;
    z-index: -3;
    margin-left: -1.5rem;
}
.bg-white{
    background-color: #fbf7f5;
}
.no-wrap{
    white-space: nowrap;
}
.profile-btn{
    position: absolute;
    border-radius: 50%;
    width: auto;
    text-align: center;
    vertical-align: middle;
    height: 2.5rem;
    z-index: 5;
}
input.ng-invalid{
    border-bottom: red thin solid;
    // background-color: #ff8b95a6;
}
input.ng-untouched{
    border-color: lightgray;
}
input.ng-valid{
    border-bottom: #859C62 thin solid;
}
textarea.ng-untouched{
    border-color: lightgray;
}
textarea.ng-valid{
    border-bottom: #859C62 thin solid;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #859C62;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #859c625b;
}
