$card-product-width: 16rem;
$card-product-height: 28rem;

.card-product{
    width: $card-product-width;
    height: $card-product-height;
}
.img-placeholder{
    height: $card-product-width;
}
.img-product{
    max-height: $card-product-width;
}
.fit-text{
    font-size: 1rem;
}
.card-narrow{
    height: 26rem;
    min-width: 11rem;
    max-width: 15rem;
}
.img-placeholder-narrow{
    min-width: 11rem;
    max-width: 15rem;
}
.img-product-narrow{
    min-width: 11rem;
    max-width: 15rem;
}
.bottom{
    position: absolute;
    bottom: 0;
    width: 92.7%;
}