<div [routerLink]="['/product-details', product.productId]" class="card my-3 shadow" [ngClass]="{'card-product':wide, 'card-narrow':!wide}">
    <div [ngClass]="{'img-placeholder':wide, 'img-placeholder-narrow':!wide}">
        <img *ngIf="product.imgUrl != '' && product.imgUrl != null" src="{{product.imgUrl}}" class="card-img-top" [ngClass]="{'img-product':wide, 'img-product-wide':!wide}" alt="...">
        <svg *ngIf="product.imgUrl == '' || product.imgUrl == null" class="card-img-top img-placeholder">
            <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
    </div>
    <div class="card-body card-body-product text-center placeholder-glow">
        <h5 class="card-title fw-bold" [ngClass]="{'placeholder col-10':product.name == ''}" [class.fit-text]="product.name.length> 20">{{product.name}}</h5>
        <div *ngIf="product.discount != null" class="m-0 p-0">
            <p class="mb-0"><s>{{product.price | price}} </s><span *ngIf="product.discount != null" class="badge bg-warning text-dark ms-1 mb-1">-{{product.discount}}%</span></p>
        </div>
        <div class="m-0 p-0">
            <a class="card-text text-primary m-1 text-decoration-none " [routerLink]="['/profile', product.sellerId]" [ngClass]="{'placeholder col-6':product.sellerLastName == ''}">{{product.sellerLastName}} {{product.sellerFirstName}}</a>
        </div>
        <h4 *ngIf="product.discount == null" class="m-0 fw-bold" [ngClass]="{'placeholder col-7':(product.price == -1 || product.price == null)}">{{product.price | price}}</h4>
        <h4 *ngIf="product.discount != null" class="m-0 fw-bold" [ngClass]="{'placeholder col-7':product.price == -1 || product.price == null}">{{product.price - (product.price * (product.discount/100)) | price}}</h4>
    </div>
    <div class="btn-group mx-2 px-1 mb-3 bottom">
        <a [routerLink]="['/product-details', product.productId]" class="btn btn-primary w-75">Részletek</a>
        <a (click)="addToCart($event, product.productId)" class="btn btn-secondary w-25">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
        </a>
    </div>
</div>
