<div class="container-fluid header" style="background-image: url('../../{{user.headerImgUrl}}');"></div>
<div class="container">
    <div class="d-grid justify-content-md-center">
        <div class="round profile-picture ms-4 mt-4 bg-white shadow">
            <img class="p-2 round profile-picture" src="{{user.profileImgUrl}}" alt="">
        </div>
        <div class="shadow rounded px-4 pt-5 pb-2 about">
            <div class="row">
                <div class="col-7 col-md-5">
                    <h4 class="fw-bold m-2">{{user.lastName}} {{user.firstName}}</h4>
                </div>
                <div class="col-5 col-md-7">
                    <div class="d-grid gap-1 d-flex justify-content-end mb-2">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary my-2 px-2">Követés</a>
                            <a href="/messages" class="btn btn-secondary my-2 pe-3">
                                <fa-icon [icon]="faEnvelope"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="m-2 mt-0 pt-0 col-auto">
                    <fa-icon class="pe-2" [icon]="faLink"></fa-icon>
                    <a href="" class="text-decoration-none">{{user.website}}</a>
                </div>
                <div class="m-2 mt-0 pt-0 col-auto">
                    <fa-icon class="pe-2" [icon]="faLocationArrow"></fa-icon>
                    {{user.siteLocation}}
                </div>
                <div class="m-2 mt-0 pt-0 col-auto">
                    <fa-icon class="pe-2" [icon]="faCalendar"></fa-icon>
                    {{user.registeredAt|date}}
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-md-3 col-lg-2">
                    <h5 class="fw-bold m-2">{{user.followers}} <small class="fw-normal">követő</small></h5>
                </div>
                <div class="col-5 col-md-3 col-lg-2">
                    <h5 class="fw-bold m-2">{{user.following}} <small class="fw-normal">követ</small></h5>
                </div>
            </div>
            <div class="row">
                <p class="mt-3">
                    {{user.about}}
                </p>
            </div>
            <div *ngIf="user.takesCustomOrders" class="row">
                <hr>
                <p>Egyedi rendeléseket is vállal.
                    <a href="#" class="text-decoration-none">Tudj meg többet.</a>
                </p>
            </div>
        </div>
    </div>
    <h3 class="m-3 pt-2">Termékeim</h3>
    <hr>
    <form action="" [formGroup]="searchForm">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-md-4 mt-2">
                <input class="form-control search" type="search" placeholder="Keresés" aria-label="Search" (input)="searchChange()" formControlName="searchTerm">
            </div>
            <div class="col-12 col-md-4 mt-2">
                <select class="form-select" aria-label="Default select example" (change)="orderSelect()" formControlName="order" id="order" name="order">
                    <option *ngFor="let option of orderOptions" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>
    </form>
    <app-product-list [products]="products"></app-product-list>
</div>
<page-footer></page-footer>