.header-card{
  height: 28rem;
}
.logo-text{
  color: #342A2B;
  font-family: 'IM Fell English', serif;
}
.img-bg{
  background-image: url('../../../assets/best-bg.jpg');
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
