<div class="d-flex justify-content-center">
  <div class="row m-5">
    <div [routerLink]="['profile-settings']" class="col-6 col-md-4 text-center mb-3 py-4 menu">
      <h1>
        <fa-icon [icon]="faAddressCard"></fa-icon>
      </h1>
      <h5 class="fw-bold">Profil beállítások</h5>
    </div>
    <div class="col-6 col-md-4 text-center mb-3 py-4 menu">
      <h1>
        <fa-icon [icon]="faMapMarker"></fa-icon>
      </h1>
      <h5 class="fw-bold">Szállítási címek</h5>
    </div>
    <div class="col-6 col-md-4 text-center mb-3 py-4 menu">
      <h1>
        <fa-icon [icon]="faBell"></fa-icon>
      </h1>
      <h5 class="fw-bold">Értesítések</h5>
    </div>
    <div class="col-6 col-md-4 text-center mb-3 py-4 menu">
      <h1>
        <fa-icon [icon]="faHeart"></fa-icon>
      </h1>
      <h5 class="fw-bold">Kívánság lista</h5>
    </div>
    <div class="col-6 col-md-4 text-center mb-3 py-4 menu">
      <h1>
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </h1>
      <h5 class="fw-bold">Üzenetek</h5>
    </div>
    <div class="col-6 col-md-4 text-center mb-3 py-4 menu">
      <h1>
        <fa-icon [icon]="faTrash"></fa-icon>
      </h1>
      <h5 class="fw-bold">Fiók törlése</h5>
    </div>
  </div>
</div>
