.round{
    border-radius: 50%;
}
.about{
    margin-top: -2.8rem;
    max-width: 50rem;
}
.profile-picture{
    width: 10rem;
    z-index: 3;
}
.header{
    height: 20rem;
    position: absolute;
    background-position: center;
    z-index: -2;
}
.bg-white{
    background-color: #fbf7f5;
}
.no-wrap{
    white-space: nowrap;
}