<div class="container-fluid header" style="background-image: url('../../{{user.headerImgUrl}}');"></div>
<div class="container page">
    <div class="d-grid justify-content-md-center">
        <div class="round profile-picture ms-4 mt-4 bg-white shadow">
            <img class="p-2 round profile-picture" src="{{user.profileImgUrl}}" alt="">
        </div>
        <div class="shadow rounded px-4 pt-5 pb-2 about">
            <div class="row">
                <div class="col-7 col-md-5">
                    <h4 class="fw-bold m-2">{{user.lastName}} {{user.firstName}}</h4>
                </div>
                <div class="col-5 col-md-7">
                    <div class="d-grid gap-1 d-flex justify-content-end mb-2">
                        <div class="btn-group">
                            <a (click)="$event.preventDefault(); editProfileOpen = true" class="btn btn-primary my-2 px-2">Szerkesztés</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start">
                <div *ngIf="user.website != null" class="m-2 mt-0 pt-0 col-auto">
                    <fa-icon class="pe-2" [icon]="faLink"></fa-icon>
                    <a href="https://{{user.website}}" class="text-decoration-none"> {{user.website}}</a>
                </div>
                <div *ngIf="user.siteLocation != null" class="m-2 mt-0 pt-0 col-auto">
                    <fa-icon class="pe-2" [icon]="faLocationArrow"></fa-icon>
                    {{user.siteLocation}}
                </div>
                <div class="m-2 mt-0 pt-0 col-auto">
                    <fa-icon class="pe-2" [icon]="faCalendar"></fa-icon>
                    {{user.registeredAt | date}}
                </div>
            </div>
            <div class="row">
                <div class="col-5 col-md-3 col-lg-2">
                    <h5 class="fw-bold m-2">{{user.followers}} <small class="fw-normal">követő</small></h5>
                </div>
                <div class="col-5 col-md-3 col-lg-2">
                    <h5 class="fw-bold m-2">{{user.following}} <small class="fw-normal">követ</small></h5>
                </div>
            </div>
            <div class="row">
                <p class="mt-3">
                   {{user.about}}
                </p>
            </div>
            <div *ngIf="user.takesCustomOrders" class="row">
                <hr>
                <p>Egyedi rendeléseket is vállal.
                    <a href="#" class="text-decoration-none">Tudj meg többet.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="d-grid justify-content-md-center border-bottom mt-3 mb-2">
        <ul class="nav col-12 col-md-auto justify-content-center">
            <li><a href="" (click)="selectTab($event, 1)" [ngClass]="{'fw-bold':(tabOpen == 1)}"
                    class="nav-link-selectable nav-link px-2 link-dark">Termékek</a><div [@tabChange]="tabOpen" [ngClass]="{'border-bottom border-dark':(tabOpen == 1)}"></div></li>
            <li><a href="" (click)="selectTab($event, 2)" [ngClass]="{'fw-bold':(tabOpen == 2)}"
                    class="nav-link-selectable nav-link px-2 link-dark">Kívánság lista</a><div [@tabChange]="tabOpen" [ngClass]="{'border-bottom border-dark':(tabOpen == 2)}"></div></li>
        </ul>
    </div>
    <div [@visibilityChange] *ngIf="tabOpen == 1">
      <div *ngIf="user.isVendor">
        <form action="" [formGroup]="searchForm">
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-md-4 mt-2">
                    <input class="form-control search" type="search" placeholder="Keresés" aria-label="Search" (input)="searchChange()" formControlName="searchTerm">
                </div>
                <div class="col-12 col-md-4 mt-2">
                    <select class="form-select" aria-label="Default select example" (change)="orderSelect()" formControlName="order" id="order" name="order">
                        <option *ngFor="let option of orderOptions" [value]="option">{{option}}</option>
                    </select>
                </div>
            </div>
        </form>
        <!-- <app-product-list [products]="products"></app-product-list> -->
        <my-product-list (deleteClick)="alertDeleteProduct($event)" (moreClick)="showMoreOptions($event)" class="row p-0 gx-5" [products]="products"></my-product-list>
        <div *ngIf="!products[0]" class="text-center mt-4 pt-4">
            <h1><fa-icon [icon]="faTimesCircle"></fa-icon></h1>
            <h2>Nem találtunk termékeket</h2>
            <p>amit keresel nics itt</p>
        </div>
      </div>
      <div *ngIf="!user.isVendor" class="text-center mt-4 pt-4">
        <h1><fa-icon [icon]="faTimesCircle"></fa-icon></h1>
        <h2>Nem vagy eladó</h2>
        <p>nincsenek itt termékek</p>
    </div>
    </div>
    <div [@visibilityChange] *ngIf="tabOpen == 2">
        <div class="mx-5">
            <div *ngFor="let product of wishList" class="border-bottom">
                <div class="row p-2 pb-0 mt-2">
                    <div class="col-4 col-lg-1 mb-3">
                        <img src="{{product.imgUrl}}" alt="" class="img img-fluid rounded">
                    </div>
                    <div class="col-8 col-lg-5">
                        <h5 class="fw-bold">{{product.name}}</h5>
                        <a [routerLink]="['/profile/'+product.sellerId]" class="text-decoration-none">{{product.sellerLastName}} {{product.sellerFirstName}}</a>
                    </div>
                    <div class="col-6 col-lg-2 mt-3">
                        <h4 class="fw-bold">{{product.price|price}}</h4>
                    </div>
                    <div class="col mt-3 mb-2">
                        <div class="d-flex justify-content-end">
                            <div class="me-3">
                                <a href="" (click)="deleteWishList($event, product.wishListId)" class="btn btn-secondary me-2">
                                    <fa-icon [icon]="faHeartBroken"></fa-icon>
                                    Törlés
                                </a>
                                <a href="" (click)="addToCart($event, product.productId)" class="btn btn-primary">
                                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                                    Kosárba
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="wishList[0] == undefined" class="text-center mt-4 pt-4">
                <h1><fa-icon [icon]="faTimesCircle"></fa-icon></h1>
                <h2>A kívánság lista üres</h2>
                <p>nincs itt semmi</p>
            </div>
        </div>
    </div>
    <!-- <div class="row d-flex justify-content-between">
        <div class="col-12 col-md-4 mt-2">
            <input class="form-control search" type="search" placeholder="Keresés" aria-label="Search">
        </div>
        <div class="col-12 col-md-4 mt-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>Legújabb</option>
                <option value="2">Legrégebbi</option>
                <option value="3">Ár szerint csőkkenő</option>
                <option value="4">Ár szerint növekvő</option>
                <option value="5">Készleten</option>
              </select>
        </div>
    </div> -->
</div>
<page-footer></page-footer>
<modal-window [(modalVisible)]="moreOptionsOpen" [title]="selectedProduct.name">
    <ul class="list-unstyled mb-0 text-start">
        <li><a [routerLink]="['/product-details/' + selectedProduct.productId]" class="dropdown-item"><fa-icon class="mx-1" [icon]="faEye"></fa-icon>Megtekintés vásárlóként</a></li>
        <li *ngIf="!selectedProduct.isPublic"><a (click)="makePublic($event, selectedProduct.productId)" class="dropdown-item"><fa-icon class="mx-1" [icon]="faLockOpen"></fa-icon>Legyen publikus</a></li>
        <li *ngIf="selectedProduct.isPublic"><a (click)="makePrivate($event, selectedProduct.productId)" class="dropdown-item"><fa-icon class="mx-1" [icon]="faLock"></fa-icon>Legyen privát</a></li>
        <li><a [routerLink]="['/add-product']" [queryParams]="{edit: true, id: selectedProduct.productId}" class="dropdown-item"><fa-icon class="mx-1" [icon]="faEdit"></fa-icon>Szerkesztés</a></li>
        <li><a (click)="alertDeleteProduct(selectedProduct.productId)" class="dropdown-item"><fa-icon class="mx-1" [icon]="faTrash"></fa-icon>Törlés</a></li>
    </ul>
</modal-window>
<modal-window [(modalVisible)]="alertOpen" [title]="'Figyelmeztetés'">
    <div class="warning">
        <div class="text-center p-3 border-top mt-2">
            <p class="large">Biztosan törölni szeretné a(z) <span class="fw-bold">{{selectedProduct.name}}</span> megnevezésű terméket?</p>
            <p class="mb-0 pb-0">Ezt a műveletet nem lehet visszavonni.</p>
        </div>
        <div class="d-flex justify-content-between border-top pt-2">
            <a href="" (click)="$event.preventDefault(); alertOpen = false; moreOptionsOpen = false" class="btn btn-secondary me-1">Mégse</a>
            <a href="" (click)="deleteProduct($event)" class="btn btn-danger mx-1">Törlés</a>
        </div>
    </div>
</modal-window>
<modal-window [(modalVisible)]="editProfileOpen" [title]="'Profil szerkesztése'">
    <edit-profile (modalState)="editProfileOpen = false" [(user)]="user"></edit-profile>
</modal-window>
