<div class="container shadow rounded p-3">
    <h2 class="text-center">Új termék felvétele</h2>
    <div class="row">
        <div class="col-12 col-md-7 p-3 ps-3">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label mb-1">Termék megnevezése</label>
                    <input type="text" class="form-control" formControlName="name" id="name" (keyup)="inputChange()">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label mb-1">Ár <small>(HUF)</small></label>
                    <input type="number" class="form-control" formControlName="price" id="price" (keyup)="inputChange()" step="1" min="0">
                </div>
                <div class="mb-3">
                    <label for="discount" class="form-label mb-1">Kedvezmény <small>(%)</small></label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            (change)="discountAvailable = !discountAvailable" id="discountAvailable">
                        <label class="form-check-label" for="discountAvailable">
                            Kedvezmény elérhető
                        </label>
                    </div>
                    <input type="number" class="form-control" formControlName="discount" id="discount" [attr.disabled]="discountAvailable ? null : true" (change)="inputChange" step="1" max="99" min="0">
                </div>
                <div class="mb-3">
                    <label for="delivery" class="form-label mb-1">Kiszállítás</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="delivery" id="available" value="Azonnal szállítható" formControlName="delivery">
                        <label class="form-check-label" for="available">Azonnal szállítható</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="delivery" id="order" value="Megrendelésre készül" formControlName="delivery">
                        <label class="form-check-label" for="order">Megrendelésre készül</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inventory" class="form-label mb-1">Raktáron <small>(db)</small></label>
                    <input type="number" class="form-control" formControlName="inventory" id="inventory" [attr.disabled]="productForm.value.delivery == 'Azonnal szállítható' ? null : true">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label mb-1">Kategória</label>
                    <!-- <input type="text" class="form-control" formControlName="category" id="category" > -->
                    <select class="form-select" aria-label="Default select example" formControlName="category" id="category" name="category">
                        <option *ngFor="let option of categories" [value]="option">{{option}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <div formArrayName="tags">
                        <label class="mb-2">Címkék</label> <br>
                        <div *ngIf="productForm.value.tags">
                            <div *ngFor="let tag of tags.controls; let i=index" class="d-flex justify-content-between">
                                <!-- <label for="tag-{{ i }}">Címke:</label> -->
                                <input id="tag-{{ i }}" type="text" class="form-control mb-2" [formControlName]="i">
                                <a class="text-decoration-none text-center m-2" (click)="removeTag(i, $event)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </a>
                            </div>
                        </div>
                        <button (click)="addTag()" type="button" class="btn btn-primary">+ Címke hozzáadása</button>
                    </div>
                </div>
                <div class="mb-3">
                    <div formArrayName="materials">
                        <label class="mb-2">Alapanyagok</label> <br>
                        <div *ngIf="productForm.value.materials">
                            <div *ngFor="let material of materials.controls; let i=index" class="d-flex justify-content-between">
                                <input id="material-{{ i }}" type="text" class="form-control mb-2" [formControlName]="i">
                                <a class="text-decoration-none text-center m-2" (click)="removeMaterial(i, $event)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </a>
                            </div>
                        </div>
                        <button (click)="addMaterial()" type="button" class="btn btn-primary">+ Alapanyag hozzáadása</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="picture" class="form-label mb-1">Kép</label>
                    <input type="file" class="form-control" id="picture">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-secondary p-2 m-2">Mentés</button>
                    <button type="submit" class="btn btn-primary p-2 m-2" [disabled]="!productForm.valid">Közzététel</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-5 p-3 border-start">
            <h4 class="text-center">Előnézet</h4>
            <div class="d-flex justify-content-center">
                <product-card [product]="newProduct"></product-card>
            </div>
            <div *ngIf="productForm.value.tags[0]" class="d-flex justify-content-center">
                <div class="shadow rounded px-4 pt-3 pb-2 m-2 card-preview">
                    <div *ngFor="let tag of productForm.value.tags" class="row mx-auto">
                        <div class="col-2 text-center">
                            <fa-icon [icon]="[iconPrefix, (tag|icon:'tag')]"></fa-icon> 
                        </div>
                        <div class="ps-0 col-10">
                            <p>{{tag}}</p>
                        </div>
                    </div>
                    <div class="row mx-auto">
                    </div>
                </div>
            </div>
            <div *ngIf="productForm.value.category != '' || productForm.value.materials != '' || productForm.value.delivery != ''" class="d-flex justify-content-center">
                <div class="shadow rounded px-4 pt-3 pb-2 m-2 card-preview">
                    <div class="row mx-auto">
                        <div class="col-2 text-center">
                            <fa-icon [icon]="[iconPrefix, (productForm.value.category|icon:'category')]"></fa-icon>
                        </div>
                        <div class="ps-0 col-10">
                            <p>Kategória: {{productForm.value.category}}</p>
                        </div>
                        <div class="col-2 text-center" *ngIf="productForm.value.materials[0]">
                            <fa-icon [icon]="faBoxes"></fa-icon>
                        </div>
                        <div class="ps-0 col-10" *ngIf="productForm.value.materials[0]">
                            <p>Anyaga: {{getMaterials()}}</p>
                        </div>
                        <div class="col-2 text-center" *ngIf="productForm.value.delivery">
                            <fa-icon [icon]="faTruck"></fa-icon>
                        </div>
                        <div class="ps-0 col-10" *ngIf="productForm.value.delivery">
                            <p>{{productForm.value.delivery}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>