<div class="container">
    <div class="container-fluid row">
        <div class="col-12 col-md-4">
            <div class="rounded shadow p-3">
                <h1>Filter</h1>
                <label for="customRange1" class="form-label"></label>
                <input type="range" class="form-range" id="customRange1">
                <product-categories></product-categories>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="rounded shadow">
                <h1>Items</h1>
            </div>
        </div>
    </div>
</div>
