$primary: #859C62;
$secondary: #c0c0c0;
.top{
    position: absolute;
    top: 0;
}
.bottom{
    position: absolute;
    bottom: 0;
}
.message{
    border-radius: 1.2rem;
    font-size: 1rem;
}
.sent{
    background-color: $secondary;
}
.recived{
    background-color: $primary;
}
.sent-bottom{
    border-top-right-radius: 0;
}
.sent-top{
    border-bottom-right-radius: 0;
}
.sent-middle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.recived-bottom{
    border-top-left-radius: 0;
}
.recived-top{
    border-bottom-left-radius: 0;
}
.recived-middle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.messages-field{
    width: inherit;
    position: relative;
}
.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 82vh;
}
.place-holder{
    height: 3rem;
}
