<div class="container-fluid m-0 px-4 shadow rounded">
    <div class="frosted-glass border-bottom">
        <h5 class="text-center py-2 pt-3 fw-bold">Széles József</h5>
    </div>
    <div class="row d-felx justify-content-start">
        <p class="col-auto message message-recived p-2 my-4">Szia</p>
    </div>
    <div class="row d-felx justify-content-end">
        <p class="col-auto message message-sent p-2 my-4">Szia</p>
    </div>
    <div class="bottom">
        <div class="input-group">
            <input type="text" name="message" id="message" class="form-control">
            <button class="btn btn-secondary">Küldés</button>
        </div>
    </div>
</div>