<div class="shadow rounded messages-field">
    <div class="frosted-glass border-bottom top w-100">
        <h5 class="text-center py-2 pt-3 fw-bold">Széles József</h5>
    </div>
    <div class="scroll m-3">
        <div class="place-holder"></div>
        <h1 class="display-1">Ez a beszélgetés kezdete</h1>
        <div *ngFor="let message of messages; let i = index">
            <div class="row d-felx mx-1 my-0" [ngClass]="{'justify-content-end':(message.recived), 'justify-content-start':!message.recived}">
                <p class="col-auto message p-2" [class]="getStyle(message.messageId)">{{message.message}}</p>
            </div>
        </div>
        <div class="place-holder"></div>
    </div>
    <div class="bottom frosted-glass border-top w-100">
        <div class="input-group m-2 pe-3">
            <input type="text" name="message" id="message" class="form-control" [(ngModel)]="message">
            <button class="btn btn-secondary" (click)="send()">
                <fa-icon [icon]="faPaperPlane" class="me-1"></fa-icon>
            </button>
        </div>
    </div>
</div>