.logo-text{
    color: #342A2B;
    font-family: 'IM Fell English', serif;
}
.card-category-produce{
    background-color: #effce7;
    border: none;
}
.card-category-product{
    background-color: #fdf4e3;
    border: none;
}
.card-title{
    font-size: .9rem;
}
.selected{
    font-weight: bold;
    background-color: #fdf4e3;
}
.nav-link-selectable{
    border-radius: 1rem;
    font-variant: small-caps;
    font-family: 'IM Fell English', serif;
    font-size: 1.1rem;
}
.btn-sell{
    font-size: .9rem;
    border-radius: .6rem;
}
.btn-login{
    font-size: .9rem;
    border: #342A2B thin solid;
    border-radius: .6rem;
}
.btn-login:hover, .btn-sell:hover{
    background-color: #342A2B;
    color: #fffff4;
    border-radius: .6rem;
}
.profile-nav{
    height: 2rem;
    border-radius: 50%;
}
.card-now{
    max-height: 15rem;
}
.card-now-body{
    position: absolute;
    bottom: 0;
    left: 0;
    //border-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
}
.border-none{
    border: none;
}