.logo-text{
    color: #342A2B;
}
header{
    font-variant: small-caps;
    font-family: 'IM Fell English', serif;
}
.card-category{
    background-color: #fce9e7;
    border: none;
}
.card-title{
    font-size: .9rem;
}
.selected{
    font-weight: bold;
}