
<div class="fluid container-front">
    <div class="container d-flex flex-wrap align-items-center justify-content-center">
        <div class="card text-center m-2 my-3 p-1 m-md-4 p-md-3 frosted-glass">
            <div class="card-body">
                <img src="assets/logo-full.svg" style="height: 4rem;">
                <h1 class="slogen m-2 mb-3">Vegyél helyi gyümölcsöt!</h1>
                <div class="input-group justify-content-center mx-auto w-75">
                    <a href="#" class="btn btn-primary search-btn">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                    <input class="form-control search" type="search" placeholder="Keresés" aria-label="Search">
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-wrap align-items-center justify-content-center">
        <div class="btn-group mx-2 mb-4">
            <a href="#products" class="btn btn-primary frosted-glass">
                <fa-icon [icon]="faChevronDown"></fa-icon>
                Ajánlatok neked
            </a>
        </div>
    </div>
</div>

<div id="products" class="container justify-content-center justify-content-md-start">
    <h2 class="main-header fw-bold mt-4">Ajánlatok neked</h2>
    <app-product-list [products]="products" class="row"></app-product-list>
</div>

<page-footer></page-footer>