<div class="border-bottom shadow-sm nav">
    <header
        class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-3 mb-4">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="assets/logo.svg" class="me-2 logo-img" height="32" alt="">
            <h3 class="mt-2 pt-1 logo-text">AGORA</h3>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
        </div>
    </header>
</div>
<div class="fluid salad" style="height: 40vh;">
    <div class="container d-flex flex-wrap align-items-center justify-content-center">
        <div class="card text-center m-5 p-5 agora">
            <div class="card-body">
                <img src="assets/logo-full.svg" style="height: 4rem;">
                <h1 class="slogen m-2 mb-3">Vegyél gyümölcsöt, ami bio!</h1>
                <div>
                    <a href="#" class="btn btn-secondary search-btn">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                    <input class="btn search" type="search" placeholder="Keresés" aria-label="Search">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card m-3 shadow-sm">
            <img src="assets/item2.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title fw-bold">Termék neve</h5>
                <p class="card-text text-primary m-1">Eladó neve</p>
                <h4 class="m-0 fw-bold">2 599 Ft</h4>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary w-75 more">Részletek</a>
                <a href="#" class="btn btn-secondary w-25 cart">
                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>