
<div class="fluid container-front">
    <div class="container d-flex flex-wrap align-items-center justify-content-center">
        <div class="card text-center m-2 my-3 p-1 m-md-4 p-md-3 frosted-glass">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <img src="assets/logo.svg" class="me-2" height="42" alt="">
                    <h1 class="logo-text">
                      AGORA
                    </h1>
                </div>
                <h1 class="slogen m-2 mb-3">Vegyél helyi termékeket!</h1>
                <a href="/search" class="btn btn-primary search-btn">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <span class="fw-bold">
                        Keresés
                    </span>
                </a>
                <div class="input-group justify-content-center mx-auto w-75">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="products" class="container justify-content-center justify-content-md-start">
    <h2 class="main-header fw-bold mt-4">Ajánlatok neked</h2>
    <app-product-list [products]="products"></app-product-list>
</div>

<page-footer></page-footer>
