.card-product{
    width: 16rem;
    height: 26.5rem;
}
.slogen{
    font-family: 'Bellota', cursive;
    font-weight: bold;
}
.container-front{
    background-image: url("./../../assets/salad.jpg");
    background-position: center;
}
.search{
    background: inherit;
    border-left: none;
    border-width: .15rem;
    border-color: #342A2B;
}
::placeholder{
    color: #342A2B;
}
.search-btn{
    border-right: none;
    border-width: .15rem;
    border-color: #342A2B;
}